.action {
    display: flex;
    align-items: center;
    justify-content: center;
}

.action:hover path {
    fill: var(--color-blue-5);
}

.action:hover rect {
    stroke: var(--color-blue-5);
}

.actionDisabled {
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}

.actionDisabled:hover {
    color: gray;
}

.action > *:first-child {
    margin-right: 5px;
}

.totalCount {
    font-size: var(--font-size-m);
    font-weight: 400;
}

.footer {
    padding: 30px 24px;
    background-color: var(--color-gray-2);
}

.btnBack {
    border: 1px solid var(--color-gray-5);
    border-radius: 4px;
    width: 140px;
    height: 32px;
}

.btnUpload {
    background-color: var(--color-white);
    border-radius: 4px;
}

.btnUpload:hover {
    background-color: var(--color-white);
}

.uploadForm {
    padding: 38px 25px 25px 40px;
}
